.diary-images-container { display: grid; grid-template-columns: repeat(5, 1fr); gap: 4px; margin-bottom: 8px; }
.diary-images-container img { aspect-ratio: 1 /1; object-fit: cover; }
@media screen and (max-width: 767.9px) {
    #location-list {
        display: block;
    }
}
#diary-preview-container .flex.flex-col {
    display: flex;
    flex-direction: column;
    gap: 0px;
    justify-content: center;
    align-items: center;
}
#mobile-controls {
    gap: 6px;
}